/*
  color carrot: #e67e22;
  color carrot-darck: #af550c;
*/

/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-width: 1170px;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
  width: 1140px;
  margin: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

section {
  padding: 80px 0 40px;
}

a {
  outline: none;
}

/* --------- HEADENGS --------- */

h2,
h3 {
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 30px;
  font-size: 180%;
}

h3 {
  margin-bottom: 20px;
  font-size: 100%;
  word-spacing: .5px;
  letter-spacing: .5px;
}

h2::after {
  display: block;
  height: 2px;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  -webkit-transform: translateX(-6px);
  -moz-transform: translateX(-6px);
  -ms-transform: translateX(-6px);
  -o-transform: translateX(-6px);
  transform: translateX(-6px);
  content: "";
  background-color: #e67e22;
}


/* --------------------------------------- */
/* HEADER-PAGE */
/* --------------------------------------- */

.header-page {
  position: relative;
  height: 100vh;
  background-image: 
                    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))),
                    url(img/home-page/hero-bg.jpg);
  background-image: 
                    -webkit-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url(img/home-page/hero-bg.jpg);
  background-image: 
                    -moz-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url(img/home-page/hero-bg.jpg);
  background-image: 
                    -o-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url(img/home-page/hero-bg.jpg);
  background-image: 
                    linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
                    url(img/home-page/hero-bg.jpg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

.header-page__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1140px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header-page__text-box h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

/* --------- BUTTONS --------- */

.btn:link,
.btn:visited,
.connection__form-submit {
  display: inline-block;
  padding: 5px 30px 7px;
  border: 2px solid #e67e22;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background-color .2s, border .2s, color .2s;
  -o-transition: background-color .2s, border .2s, color .2s;
  -moz-transition: background-color .2s, border .2s, color .2s;
  transition: background-color .2s, border .2s, color .2s;
}

.btn-full:link,
.btn-full:visited,
.connection__form-submit {
  margin-right: 25px;
  background-color: #e67e22;
}

.btn-full--margin:link,
.btn-full--margin:visited {
  margin-right: 0;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
}

.btn:hover,
.btn:focus,
.connection__form-submit:hover,
.connection__form-submit:focus {
  border: 2px solid #af550c;
  background-color: #af550c;
  color: #fff;
}

.btn:active,
.connection__form-submit:active {
  border: 2px solid rgba(175, 85, 12, 0.1);
  background-color: rgba(175, 85, 12, 0.5);
  color: #fff;
}

/* --------- NAVIGATION --------- */

.nav-main__logo-box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 20px;
}

.nav-main__logo-box img {
  width: 100%;
}

.logo-white {
  display: block;
}

.logo-black {
  display: none;
}

.nav-main__list {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 45px;
}

.nav-main__item {
  display: inline-block;
  padding: 0 20px 0;
  list-style: none;
}

.nav-main__link:link,
.nav-main__link:visited {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 90%;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-main__link:hover,
.nav-main__link:focus {
  border-bottom: 2px solid #e67e22;
}

.nav-main__link:active {
  border-bottom: 2px solid rgba(230, 125, 34, .5);
}

/* sticky nav */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0 2px 2px rgba(230, 125, 34, 0.3);
  box-shadow: 0 2px 2px rgba(230, 125, 34, 0.3);
  z-index: 9999;
}

.sticky .nav-main__link:link,
.sticky .nav-main__link:visited {
  padding-top: 15px;
    padding-bottom: 21px;
    color: #555;
}

.sticky .logo-white {
  display: none;
}

.sticky .logo-black {
  display: block;
}

.sticky .nav-main__list {
  margin-top: 5px;
}
.sticky .nav-main__logo-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px 0;
}

/* --------------------------------------- */
/* FEAUTRES */
/* --------------------------------------- */

.features {
  background-color: #f4f4f4;
}

.features__title {
  text-shadow:  0 0 10px black, 5px 5px 15px white;
}

.features__description {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 90%;
  line-height: 1.45;
}

.features__card {
  min-height: 345px;
  padding: 15px;
  background-color: #fff;
}

.icon-big {
  display: block;
  margin-bottom: 10px;
  font-size: 350%;
  color: #e67e22;
  text-align: center;
}

.features__card-description {
  font-size: 90%;
  line-height: 1.45;
}

/* --------------------------------------- */
/* MEALS */
/* --------------------------------------- */

.meals {
  padding: 0;
  margin: 0;
}

.meals__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.meals__item {
  display: block;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.meals__photo {
  width: 100%;
  margin: 0;
  background: #000;
  overflow: hidden;
}

.meals__photo img {
  width: 100%;
  -webkit-transform: scale(1.18);
  -moz-transform: scale(1.18);
  -ms-transform: scale(1.18);
  -o-transform: scale(1.18);
  transform: scale(1.18);
  opacity: .6;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.meals__photo img:hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  transform: scale(1.03);
  opacity: 1;
}

/* --------------------------------------- */
/* HOW WORKS */
/* --------------------------------------- */

.how-works {
  padding-top: 20px;
  background-color: #f4f4f4;
}

.how-works__title {
  text-shadow:  0 0 10px black, 5px 5px 15px white;
}

.how-works__steps-box {
  margin-top: 30px;
}

.how-works__steps-box:first-child {
  padding-right: 3%;
  text-align: right;
}

.how-works__steps-box:last-child {
  padding-top: 50px;
  padding-left: 3%;
}

.how-works__box-img {
  display: inline-block;
  width: 40%;
}

.how-works__box-img img {
  width: 100%;
}

.how-works__list {
  padding: 0;
  margin: 0;
}

.how-works__item {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.how-works__item:last-child {
  margin-bottom: 80px;
}

.how-works__item::before {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  margin-right: 25px;
  border: 2px double #e67e22;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 150%;
  font-weight: 400;
  color: #e67e22;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.how-works__item:nth-child(1)::before {
  content: "1";
}

.how-works__item:nth-child(2)::before {
  content: "2";
}

.how-works__item:nth-child(3)::before {
  content: "3";
}

.btn-app:link,
.btn-app:visited {
  display: inline-block;
  width: 143px;
  height: 42px;
  margin-right: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: bottom;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.btn-app:link:last-of-type,
.btn-app:visited:last-of-type {
  margin-right: 0px;
}

.play {
  background-image: url(img/how-works/google_play_button.svg);
  background-position: -3px 0;
  -webkit-background-size: 105% 105%;
  -o-background-size: 105%;
  background-size: 105%;
  background-repeat: no-repeat;
}

.store {
  width: 122px;
  background-image: url(img/how-works/app_store_button.svg);
  background-position: -1px -1px;
  -webkit-background-size: 102% 102%;
  -o-background-size: 102%;
  background-size: 102%;
  background-repeat: no-repeat;
}

.btn-app:hover,
.btn-app:focus {
  -webkit-transform: scale(1.15) translateY(-6px);
  -moz-transform: scale(1.15) translateY(-6px);
  -ms-transform: scale(1.15) translateY(-6px);
  -o-transform: scale(1.15) translateY(-6px);
  transform: scale(1.15) translateY(-6px);
  -webkit-box-shadow: 0 5px 15px rgba(230, 125, 34, .9);
  box-shadow: 0 5px 15px rgba(230, 125, 34, .9);
}

.btn-app:active {
  -webkit-transform: scale(1.1) translateY(-4px);
  -moz-transform: scale(1.1) translateY(-4px);
  -ms-transform: scale(1.1) translateY(-4px);
  -o-transform: scale(1.1) translateY(-4px);
  transform: scale(1.1) translateY(-4px);
  -webkit-box-shadow: 0 3px 10px rgba(230, 125, 34, .9);
  box-shadow: 0 3px 10px rgba(230, 125, 34, .9);
}

/* --------------------------------------- */
/* CITIES */
/* --------------------------------------- */

.cities__box-img {
  width: 100%;
}

.cities__box-img img {
  width: 100%;
}

.cities__card-feature {
  padding: 0 15px;
  margin-bottom: 5px;
}

.cities__card-feature span {
  display: inline-block;
  margin-right: 15px;
  margin-top: -3px;
  text-align: center;
  line-height: 1.2;
  vertical-align: middle;
}

.ion--color {
  color: #e67e22;
}
.ion--size {
  width: 30px;
  font-size: 130%;
}

.cities__link:link,
.cities__link:visited {
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.cities__link:hover,
.cities__link:focus {
  color: #555;
  border-bottom: 2px solid transparent;
}

.cities__link:active {
  color: rgba(85, 85, 85, 0.5);
}

/* --------------------------------------- */
/* TESTIMONIALS */
/* --------------------------------------- */

.testimonials {
  background-image: 
                    -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .8)), to(rgba(0, 0, 0, .8))),
                    url(img/testimonials/back-customers.jpg);
  background-image: 
                    -webkit-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                    url(img/testimonials/back-customers.jpg);
  background-image: 
                    -moz-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                    url(img/testimonials/back-customers.jpg);
  background-image: 
                    -o-linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                    url(img/testimonials/back-customers.jpg);
  background-image: 
                    linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),
                    url(img/testimonials/back-customers.jpg);
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.testimonials__title {
  text-shadow:  0 0 10px black, 0 0 15px white;
}

.testimonials__blockquote {
  position: relative;
  padding: 15px;
  font-style: italic;
  line-height: 1.45;
}

.testimonials__blockquote::before {
  position: absolute;
  top: -40px;
  left: 5px;
  display: block;
  content: "\201C";
  font-size: 400%;
}

.testimonials__auhtor {
  display: block;
  margin-top: 25px;
  font-size: 90%;
}

.testimonials__auhtor img {
  display: inline-block;
  height: 45px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* --------------------------------------- */
/* PLAN */
/* --------------------------------------- */

.plans {
  background-color: #f4f4f4;
}

.plans__title {
  text-shadow:  0 0 10px black, 5px 5px 15px white;
}

.plan-box {
  width: 90%;
  margin-left: 5%;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(230, 125, 34, 0.5);
  box-shadow: 0 0 20px rgba(230, 125, 34, 0.5);
}

.plan-box__wrapper {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
}

.plan-box__wrapper:last-child {
  text-align: center;
  border: none;
}

.plan-box__wrapper:first-child {
  background-color: #fcfcfc;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px; 
  -webkit-border-top-right-radius: 5px; 
  border-top-right-radius: 5px; 
}

.plan-box__price {
  margin-bottom: 10px;
  font-size: 300%;
  font-weight: 100;
  color: #e67e22;
}

.plan-box__price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-box__meal {
  font-size: 80%;
}

.plan-box__list {
  padding: 0;
  margin: 0;
}

.plan-box__item {
  padding: 5px 0;
  list-style: none;
}

/* --------------------------------------- */
/* CONNECTING */
/* --------------------------------------- */

.connection__form-wrapper {
  width: 60%;
  margin: auto;
}

.connection__form-name,
.connection__form-email,
.connection__form-find-us,
.connection__form-message {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font: inherit;
  color: #555;
}

.connection__form-newsletter {
  margin-right: 15px;
}

/* --------------------------------------- */
/* FOOTER-MAIN */
/* --------------------------------------- */

.footer-main {
  padding: 50px 0;
  background-color: #333;
}

.footer-main__nav,
.social-nav {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.footer-main__nav {
  float: left;
}

.social-nav {
  float: right;
}

.footer-main__list,
.social-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-main__item,
.social-nav__item {
  float: left;
}

.footer-main__item:not(:last-child),
.social-nav__item:not(:last-child) {
  margin-right: 25px;
}

.footer-main__link:link,
.footer-main__link:visited,
.social-nav__link:link,
.social-nav__link:visited {
  display: block;
  text-decoration: none;
  color: #e67e22;
  font-size: 120%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.footer-main__link:link,
.footer-main__link:visited {
  border-bottom: 2px solid transparent;
}

.footer-main__link:hover,
.footer-main__link:focus {
  border-bottom: 2px solid #888;
  color: #af550c;
}

.footer-main__link:active {
  color: rgba(230, 125, 34, 0.5);
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.ion-social-facebook:hover {
  color: #3d5998;
}

.ion-social-twitter:hover {
  color: #00eced;
}

.ion-social-googleplus:hover {
  color: #dd4d39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}

.ion-social-facebook:active {
  color: rgba(61, 88, 152, 0.5);
}

.ion-social-twitter:active {
  color: rgba(0, 237, 237, 0.5);
}

.ion-social-googleplus:active {
  color: hsla(7, 71%, 55%, 0.5);
}

.ion-social-instagram:active {
  color: rgba(81, 127, 164, 0.5);
}

.footer-main__copyright {
  width: 50%;
  margin: auto;
  text-align: center;
  color: #888;
}